* text=auto

*.R text eol=lf
*.Rmd text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.cff text eol=lf
*.sh text eol=lf
*.ps1 text eol=crlf
DESCRIPTION text eol=lf
NAMESPACE text eol=lf
LICENSE text eol=lf
*.rds binary
*.xlsx binary
*.xls binary
*.png binary
*.jpg binary
*.jpeg binary
*.docx binary
*.zip binary
*.gz binary
