export(m3read)
export(m3prep)
export(m3fit)
export(m3effect)
export(m3ftest)
export(m3i2)
export(m3lrt)
export(m3cont)
export(m3group)
export(m3spline)
export(m3study)
export(m3bias)
export(m3leave)
export(m3run)
export(m3plot)
export(m3report)
export(m3code)
export(m3source)
S3method(print,meta3_main)
S3method(print,meta3_continuous)
S3method(print,meta3_categorical)
S3method(print,meta3_splines)
S3method(print,meta3_publication_bias)
S3method(print,meta3_leave_one_out)
S3method(print,meta3_workflow)
